<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
<body>
    <div class="container" id="heading">
        <h1>Lets Build Something Together</h1>
        <img src="images/larry-cherry.jpg" alt="Larry Cherry" id="larry" class="container-item">
    </div>
    <div class="container" id="about">
        <h1>About Me</h1>
        <p>I enjoy writing code and building apps. I spend my time between teaching coding fundamentals with codewizards and supporting BAS at Digital Air Control. If you know someone that needs help with a project or a volunteer event I can contribute my skill feel free to contact me</p>
        <h3>Skills</h3>
        <p>Ruby, JavaScript, JQuery, Rspec, Jasmine, Git, Bootstrap, SQlite, PostgreSQL, Ruby on Rails, Node, NPM, HTML5, CSS </p>
        <div id="socail">
            <a href="#" onClick="alert('Email me at mail@larry.cherry.com')">
                <i class="button fas fa-envelope-square"></i>
            </a>
            <a href="https://drive.google.com/file/d/1vO9OZxcAEA6siNyqulxpaPX_aU8-NMHs/view?usp=sharing">
                <i class="button fas fa-file-pdf"></i>
            </a>
            <a href="https://twitter.com/Larry_D_Cherry">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/larry-cherry/">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/larry-cherry">
                <i class="fab fa-github-square"></i>
            </a>
        </div>
    </div>
    <div id="photo-galary">
        <i class="fas fa-arrow-circle-left arrow" onClick="changePhotoLeft()"></i>
        <img id="photo" src="images/sxsw2018.jpg" alt="SXSW 2018">
        <i class="fas fa-arrow-circle-right arrow" onClick="changePhotoRight()"></i>
    </div>
    <p id="photo-text">Hacking away with Chris Hughes and others at SXSW 2018.</p>
    <script src="javascripts/particles.min.js"></script>
    <% include partials/particles %>
    <script src="javascripts/app.min.js"></script>
    
</body>
</html>